.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-content {
    display: block;
    justify-content: center;
    width: 500px;
    font-family: cursive;
}

.the-form label {
    display:block;
    padding: 10px;
}

.the-form input {
    font-family: cursive;
    width: 80%;
    height: 40px;
    margin: 5px;
}

.the-form textarea {
    width: 80%;
    margin: 5px;
    height: 80px;
}

.the-form button {
    margin: 5px;
    height: 50px;
    width: 50%;
    background-color: dodgerblue;
    color: white;
    font-family: cursive;
}
