.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-content {
    display: block;
    justify-content: center;
    width: 500px;
}

.the-form label {
    display:block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.the-form input {
    width: 80%;
    height: 40px;
}

.the-form textarea {
    width: 80%;
    height: 80px;
}

.the-form button {
    height: 50px;
    margin-top: 10px;
    width: 80%;
    background-color: dodgerblue;
    color: white;
    font-family: cursive;
    border: solid 1px black;
    margin-bottom: 50px;
}

.the-form button:active {
    background-color: #6FB8FF;
    height: 48px;
    width: 78%
}

.the-form h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
