
.review-container {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    border: solid black 3px;
    font-family: cursive;
    border-radius: 20px;
}

.review-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.review-content textarea {
    height: 70%;
    border: solid black 2px;
    font-family: cursive;
    border-radius: 10px;
}

.review-content button {
    background-color: dodgerblue;
    font-family: cursive;
    padding:10px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px black;
}

button:hover {
    cursor: pointer;
}

.stars {
    display: flex;
    justify-content: center;
}

.reviews {
    width: 850px;
    overflow-wrap: break-word;
}
