
.review-container {
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    border: solid black 3px;
    font-family: cursive;
}

.review-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.review-content textarea {
    height: 70%;
    border: solid black 2px;
    font-family: cursive;
}

.review-content button {
    background-color: lightcoral;
    color: white;
    font-family: cursive;
    padding:10px;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
}
