.spot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-con {
    width: 90%;
    display: flex;
    justify-content: center;
}

.spot-content {
    max-width: 100%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.spot-container span {
    color: rgba(0, 0, 0, 0.751);
}

.single-spot {
    width: 326.82px;
    justify-content: center;
    align-items: center;
    margin: 7.5px;
}

.single-spot img {
    height: 280px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.single-spot img:hover {
    filter: brightness(80%);
}

.under-image {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.spot-single-spot {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-images {

    border-radius: 5px;
}
