.delete-container {
    margin: 10px;
    width: 300px;
}

.del-container {
    display: flex;
    flex-direction: column;
}

.del-container button{
    background-color: dodgerblue;
    height: 30px;
    margin-top: 5px;
}

.del-container button:hover {
    cursor: pointer;
}
