

.current-container {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
}


.navlink {
    text-decoration: none;
    color: white;
    width: 180px;
    text-align: center;
    box-shadow: 2px;
    background-color: dodgerblue;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.navlink:hover {
    background-color: cornflowerblue;
}


.current-spot {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.buttons {
    background-color: dodgerblue;
    color: white;
    border: 2px solid black;
    margin-right: 5px;
}

.buttons:hover {
    cursor: pointer;
}

.current-single-spot {
    margin-top: 20px;
}
