
.hidden {
    display:none
}


.profile-dropdown {
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    top: 65px;
    padding: 20px;
    right: 45px;
}

.fas:hover {
    cursor: pointer;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(239, 239, 239);
}
/*
.list-container img {
    height: 80px;
    width: 80px;
    position: relative;
    bottom: 30px;
} */

ul {
    list-style: none;
    padding-inline-start: 0px;
}


.profile-button {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    color: white;
    border: solid lightgray 1px;
}

.hover-profile:hover {
    cursor: pointer;
}
