
.hidden {
    display:none
}


.profile-dropdown {
    position: absolute;
    right: 40px;
    z-index: 1;
    border: solid 1px black;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
}

.fas:hover {
    cursor: pointer;
}

.list-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid gray;
}
/*
.list-container img {
    height: 80px;
    width: 80px;
    position: relative;
    bottom: 30px;
} */

ul {
    list-style: none;
    font-family: cursive;
}


.profile-button {
    background-color: dodgerblue;
    border-radius: 20px;
    padding: 5px;
    color: white;
}

.hover-profile:hover {
    cursor: pointer;
}
