
.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    height: 470px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding-right: 35px;
    color:black;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
}

.button1 {
    font-family: cursive;
}

.form-content {
    width: 70%;
    text-align: center;
}

.button2 {
    border: none;
    background-color: white;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 50px;
}
